<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-spreadsheets">Data Organisation in Spreadsheets</h3>
    <ul>
      <li>Formatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li>Exporting data</li>
      <li><a href="http://datacarpentry.org/spreadsheet-ecology-lesson">Lesson</a></li>
    </ul>
  </div>

    <div class="col-md-6">
    <h3 id="syllabus-r-dc">Data Analysis and Visualization in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li>R and Databases</li>
      <li><a href="http://datacarpentry.org/R-ecology-lesson">Lesson</a></li>
    </ul>
  </div>
  
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li> 
      <li><a href="http://datacarpentry.org/sql-ecology-lesson">Lesson</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
  -->
</div>
